[submodule "src/ros2_interfaces_pkg"]
	path = src/ros2_interfaces_pkg
	url = git@github.com:SHC-ASTRA/ros2_interfaces_pkg.git
[submodule "src/astra_description"]
	path = src/astra_description
	url = ../astra_descriptions
