
services:
  ros2:
    image: osrf/ros:jazzy-desktop-full
    container_name: ros2_jazzy_gui
    network_mode: host
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - XAUTHORITY=/tmp/.docker.xauth
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ./ros_ws:/ros_ws
    stdin_open: true
    tty: true
    privileged: true
